ul.multiUl {
    list-style-type: none;
	padding-left: 0px;
  }

li::marker {
    content: "";
}

  @media (min-width:876px){
    ul.multiUl {
        columns: 5;
        -webkit-columns: 5;
        -moz-columns: 5;
    }
  }

  @media (max-width:875px){
    ul.multiUl {
        columns: 3 !important;
        -webkit-columns: 3 !important;
        -moz-columns: 3 !important;
    }
}
  