<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-rowR">
      <button mat-stroked-button class="btnHeader" routerLink="/page/laboratorio/ordenes">
        <mat-icon class="maticonmenu">arrow_back</mat-icon>
        <span class="maticontitle">Atrás</span>
      </button>
    </div>
    <div class="example-button-row">
      <button *ngIf="edit && permiso.guardar" mat-stroked-button class="btnHeader" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
        <mat-icon class="maticonmenu">save</mat-icon>
        <span class="maticontitle">Guardar</span>
      </button>
      <button *ngIf="edit && permiso.guardar && id===0" mat-stroked-button class="btnHeader" type="button">
        <mat-icon class="maticonmenu">cleaning_services</mat-icon>
        <span class="maticontitle">Limpiar</span>
      </button>
    </div>
</mat-toolbar>


<div class="container">  
    <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle"></mat-toolbar>

    <h2 *ngIf="id==0" class="title-label">CREAR ORDEN</h2>
    <h2 *ngIf="id!==0 && edit" class="title-label">EDITAR ORDEN</h2>
    <h2 *ngIf="id!==0 && !edit" class="title-label">VER ORDEN</h2>

    <mat-divider></mat-divider>
    
    <div id="content" *ngIf="id !== 0"> 
        <div style="width: 100%; float:left;margin-bottom: -17px;">
            <div style="text-align: center; color: #1a0da4; font-weight:600;">
            <span>CODIGO: {{codigo}}</span>
            </div> 
        </div> 
    </div>

    <br style="clear:both;"/>
    <form onkeydown="return event.key != 'Enter';" class="forms" id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">

        <mat-stepper #stepper id="stepper" [selectedIndex]="currentTab" (click)="changestepper(stepper)" [linear]="true">

            <mat-step [completed]="(id === 0) || (objCargado !== undefined && id !== 0 && !camposCambiados(objCargado!))">
                <ng-template matStepperIcon="edit">
                </ng-template>
                <ng-template matStepLabel> Datos Personal </ng-template>   

                <div class="content">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">                        
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="60%">

                            <mat-grid-list cols="12" rowHeight="10px" gutterSize="15px">
                                <mat-grid-tile [colspan]="12">
                                    <mat-form-field *vIf="false" appearance="outline">
                                        <mat-label>Código</mat-label>
                                        <input matInput placeholder="Código" formControlName="nIdOrden">
                                    </mat-form-field>
                                    <mat-form-field *vIf="false" appearance="outline">
                                        <mat-label>Código Persona</mat-label>
                                        <input matInput placeholder="Código Persona" formControlName="nIdPersona">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo de documento</mat-label>
                                        <mat-select
                                        [disabled]="id>0"
                                        placeholder="Tipo de documento"
                                        formControlName="vTipDocu">
                                          <mat-option *ngFor="let c of tbDocu" [value]="c.vValor">
                                           {{c.vDescripcion}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Documento</mat-label>
                                        <input #DOCUMENTO type="text" [readonly]="id>0" matInput placeholder="Documento" formControlName="vDocumento" minlength="1" maxlength="15" required (change)="obtenerPersona($event)" (keyup.enter)="obtenerPersona($event)">
                                            <button *ngIf="DOCUMENTO.value && id===0" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="borrarDato()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <button *ngIf="DOCUMENTO.value && id===0" type="button" matSuffix mat-icon-button aria-label="Buscar" (click)="obtenerPersona($event)">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellido Paterno</mat-label>
                                        <input matInput placeholder="Apellido Paterno" formControlName="vApPaterno" minlength="1" maxlength="50" required  style="text-transform: uppercase;">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellido Materno</mat-label>
                                        <input matInput placeholder="Apellido Materno" formControlName="vApMaterno" minlength="1" maxlength="50" required style="text-transform: uppercase;">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>1er Nombre</mat-label>
                                        <input matInput placeholder="Nombres" formControlName="vPrimerNombre" minlength="1" maxlength="50" required style="text-transform: uppercase;">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>2do Nombre</mat-label>
                                        <input matInput placeholder="Nombres" formControlName="vSegundoNombre" minlength="1" maxlength="20" style="text-transform: uppercase;">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Género</mat-label>
                                        <mat-select
                                        [disabled]="!edit"
                                        required=""
                                        formControlName="vSexo">
                                          <mat-option *ngFor="let c of tbSexo" [value]="c.vValor">
                                           {{c.vDescripcion}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Estado Civil</mat-label>
                                        <mat-select
                                        [disabled]="!edit"
                                        required=""
                                        formControlName="vEstCivil">
                                          <mat-option *ngFor="let c of tbCivil" [value]="c.vValor">
                                           {{c.vDescripcion}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
    
                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile  [colspan]="6">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input #inputFecNac matInput [matDatepicker]="dFecNacimiento" [max]="fechaMax" placeholder="dd/mm/aaaa" formControlName="dFechaNac" required>
                                        <mat-datepicker-toggle matSuffix [for]="dFecNacimiento"></mat-datepicker-toggle>
                                        <mat-datepicker #dFecNacimiento></mat-datepicker>
                                      </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Edad</mat-label>
                                        <input [readonly]="true" type="number" matInput placeholder="Edad" formControlName="nEdad" minlength="1" maxlength="3">
                                    </mat-form-field>                                
                                </mat-grid-tile>
                            </mat-grid-list>
                
                        </div>                        
                    </div>
                </div>

                <div style="padding-top: 10px">
                    <button class="btnnext" mat-button matStepperNext type="button">Siguiente</button>
                </div> 
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Ordenes </ng-template>

                <div class="content">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">                        
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="60%">

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>H.C.</mat-label>
                                        <input type="text" [readonly]="!edit" matInput placeholder="H.C." formControlName="vHC" minlength="1" maxlength="15" required>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Fecha</mat-label>
                                        <input matInput [matDatepicker]="dFecha" [max]="fechaMax" placeholder="dd/mm/yyyy" formControlName="dFecOrden" [disabled]="!edit" required>
                                        <mat-datepicker-toggle matSuffix [for]="dFecha"></mat-datepicker-toggle>
                                        <mat-datepicker #dFecha></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-select placeholder="Procedencia" formControlName="vProcedencia" required>
                                        <mat-option *ngFor="let el of tbProcedencia" [value]="el.vValor">
                                            {{el.vDescripcion}}
                                        </mat-option>              
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Cama</mat-label>
                                        <input type="text" [readonly]="!edit" matInput placeholder="Cama" formControlName="vCama" minlength="1" maxlength="15" required>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                
                        </div>                        
                    </div>
                </div>

                <div style="padding-top: 10px">
                    <button class="btnnext" mat-button matStepperNext type="button">Siguiente</button>
                </div>  
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Exámenes</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>Búsqueda</mat-label>
                        <input matInput (keyup)="buscaTexto($event)" placeholder="Búsqueda" #searchBar>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                        <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline">
                            <mat-label>Área</mat-label>
                            <mat-select placeholder="Área" [(value)]="selectedArea" (selectionChange)="cambiaArea($event.value)">
                            <mat-option *ngFor="let el of tbArea" [value]="el.vValor">
                                {{el.vDescripcion}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-form-field>

                <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="listaExamenes.length !== 0">
                    <div div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="25%" style="padding: 0px 0px 0px 0px;">
                        <mat-grid-list cols="12" rowHeight="280px" gutterSize="15px">
                        <mat-grid-tile [colspan]="12">
                            <ul *ngIf="listaExamenes.length !== 0">
                                <li *ngFor="let element of listaPerfiles">
                                    <mat-checkbox (change)="cambiaPerfil($event, element.nIdPerfilExamen)">
                                        {{element.vDescripcion}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div div fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="75%" style="padding: 0px 0px 0px 0px;">
                        <mat-grid-list cols="12" rowHeight="280px" gutterSize="15px">
                        <mat-grid-tile [colspan]="12">
                            <div class="content contentTable" style="width: 100%;">
                                <ul class="multiUl">
                                    <li class="multiLi" *ngFor="let element of listaExamenes">
                                        <mat-checkbox
                                            [checked] = "element.selected!">
                                            {{element.vDescripcion}}
                                        </mat-checkbox>
                                    </li>
                                </ul>                        
                            </div>
                        </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                <div class="example-rate-limit-reached" *ngIf="listaExamenes.length === 0">
                    No se encontraron registros.
                </div>
                
                <div style="padding-top: 10px">          
                <button class="btnprevio" mat-button matStepperPrevious type="button">Atrás</button>
                </div>
            </mat-step>

        </mat-stepper>
    
    </form>
    
    </mat-card>
</div>