<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-row">
      <button mat-stroked-button class="btnHeader" routerLink="/page/configuracion/usuario">
        <mat-icon class="maticon">syncalt</mat-icon>
      </button>
      <button mat-stroked-button class="btnHeader">
        <mat-icon class="maticon">filter_alt</mat-icon>
      </button>
      <button mat-stroked-button class="btnHeader" routerLink="/page/configuracion/usuario/create">
        <mat-icon class="maticon">add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <div class="container">  
    <mat-card class="cardborde">   
      <mat-toolbar class="cardtitle"></mat-toolbar>
      <h2 class="title-label"> LISTADO DE USUARIO</h2>
      <mat-divider></mat-divider>
      <form style="padding: 0;">     
        
        <div class="example-loading-shade" *ngIf="loading || existRegistro">
          <mat-spinner *ngIf="loading"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="existRegistro">
            No se encontraron registros.
          </div>
        </div>
  
        <div class="example-container mat-elevation-z0">
          <mat-table [dataSource]="dataSource" matSort>
           
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Código"> 
                <div style="font-weight:600;color: #7f388a;">{{element.nIdUsuario}}</div>     
              </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="documento">
              <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Documento"> {{element.vDocumento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="appaterno">
              <mat-header-cell *matHeaderCellDef> Ap. Paterno </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="appaterno"> {{element.vApPaterno}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="apmaterno">
                <mat-header-cell *matHeaderCellDef> Ap. Materno </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="apmaterno"> {{element.vApMaterno}} </mat-cell>
              </ng-container>
              
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="nombre"> {{element.vPrimerNombre}} </mat-cell>
              </ng-container>

            <ng-container matColumnDef="sexo">
              <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Sexo"> {{element.vSexo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fnacimiento">
              <mat-header-cell *matHeaderCellDef> F. Nacimiento </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="fnacimiento"> {{element.vFechaNac}} </mat-cell>
            </ng-container> 
            
            <ng-container matColumnDef="usuario">
                <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="usuario"> {{element.vUsuario}} </mat-cell>
            </ng-container> 
                    
            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">
                <a *ngIf="permiso.guardar" class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.nIdUsuario,true]">
                  <mat-icon>edit</mat-icon>
                </a>
                <a *ngIf="!permiso.guardar" class="pointer edit" matTooltip="Ver" [routerLink]="['edit', element.nIdUsuario,false]">
                  <mat-icon>visibility</mat-icon>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
          </mat-table>
          <mat-paginator 
            [length]="countRegistro" 
            [pageSizeOptions]="[5, 10, 20]" 
            showFirstLastButtons 
            aria-label="Select page of users">
          </mat-paginator>
        </div>
  
      </form>    
    </mat-card>
  </div>