<div id="contenedor">
    <div class="titlemodal">
      <h3 *ngIf="examen.nIdExamen==0" mat-dialog-title>CREAR EXAMEN</h3>
      <h3 *ngIf="examen.nIdExamen!==0 && edit" mat-dialog-title>EDITAR EXAMEN</h3>
      <h3 *ngIf="examen.nIdExamen!==0 && !edit" mat-dialog-title>VER EXAMEN</h3>
    </div>
  </div>
  
  <mat-dialog-content class="modal">
    <form onkeydown="return event.key != 'Enter';" class="forms" id="ngForm" [formGroup]="form" #frmGrupo="ngForm" >
      <mat-stepper #stepper id="stepper" [selectedIndex]="currentTab" (click)="changestepper(stepper)" [linear]="true">
        <mat-step>
            <ng-template matStepperIcon="edit">
            </ng-template>
            <ng-template matStepLabel>Principal</ng-template>
            <div class="content">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
              
              <div [hidden]="true">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Id" formControlName="nIdExamen">
                </mat-form-field>
              </div>
        
                <div div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 0px 0px 0px 0px;">
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline">
                            <mat-label>Cod. Examen</mat-label>
                            <input type="text" matInput placeholder="Cod. Examen" formControlName="vCodExamen" minlength="1" maxlength="10" required>
                        </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                      <mat-grid-tile [colspan]="12">
                          <mat-form-field appearance="outline">
                              <mat-label>Examen</mat-label>
                              <input type="text" matInput placeholder="Examen" formControlName="vDescripcion" minlength="1" maxlength="100" required>
                          </mat-form-field>
                      </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                    <mat-grid-tile [colspan]="12">
                      <mat-form-field appearance="outline">
                        <mat-label>Área</mat-label>
                        <mat-select placeholder="Área" formControlName="vCodAreaExamen">
                          <mat-option *ngFor="let el of tbArea" [value]="el.vValor">
                              {{el.vDescripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                    <mat-grid-tile [colspan]="12">
                      <mat-form-field appearance="outline">
                        <mat-label>Muestra</mat-label>
                        <mat-select placeholder="Muestra" formControlName="vCodTipoMuestra">
                          <mat-option *ngFor="let el of tbMuestra" [value]="el.vValor">
                            {{el.vDescripcion}}
                          </mat-option>              
                        </mat-select>
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
                <div div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 0px 0px 0px 0px;">
                    <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                      <mat-grid-tile [colspan]="12">
                          <mat-form-field appearance="outline">
                              <mat-label>Abreviatura</mat-label>
                              <input type="text" matInput placeholder="Abreviatura" formControlName="vAbreviatura" minlength="1" maxlength="10">
                          </mat-form-field>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                        <mat-grid-tile [colspan]="12">
                            <mat-form-field appearance="outline">
                                <mat-label>Unidad de medida</mat-label>
                                <input type="text" matInput placeholder="Ud. de medida" formControlName="vUndMed" minlength="1" maxlength="20">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                      <mat-grid-tile [colspan]="12">
                          <mat-form-field appearance="outline">
                              <mat-label>Rango de referencia</mat-label>
                              <input type="text" matInput placeholder="Ran. referencia" formControlName="vRangoRef" minlength="1" maxlength="50">
                          </mat-form-field>
                      </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                    <mat-grid-tile [colspan]="12">
                      <mat-form-field appearance="outline">
                        <mat-label>Grupo</mat-label>
                          <mat-select placeholder="Grupo" formControlName="vCodSubGrupo">
                            <mat-option *ngFor="let el of tbGrupo" [value]="el.vValor">
                              {{el.vDescripcion}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline">
                            <mat-label>Fórmula</mat-label>
                            <input type="text" matInput placeholder="Fórmula" formControlName="vFormula" minlength="1" maxlength="100">
                        </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>
            </div>
        </mat-step>

        <mat-step style="padding: 0 0 24px 0;">
          <ng-template matStepLabel>Respuesta</ng-template>
          <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
            
            <div [hidden]="true">
              <mat-form-field appearance="outline">
                  <input matInput placeholder="Id" formControlName="nIdExamen">
              </mat-form-field>
            </div>
      
              <div div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 0px 0px 0px 0px;">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Tipo de respuesta</mat-label>
                      <mat-select placeholder="Tipo de Rpta" formControlName="vTipoRespuesta" (selectionChange)="cambiaTipoRpta($event.value)">
                        <mat-option *ngFor="let el of tbRpta" [value]="el.vValor">
                          {{el.vDescripcion}}
                        </mat-option>              
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="12" rowHeight="110px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                      <mat-form-field appearance="outline">
                          <mat-label>Respuesta</mat-label>
                          <textarea class="input-rpta" type="text" matInput placeholder="Respuesta" formControlName="vRespuesta" minlength="1" maxlength="200" rows="3">
                          </textarea>
                      </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                      <mat-form-field appearance="outline">
                          <mat-label>Formato</mat-label>
                          <input type="text" matInput placeholder="Formato" formControlName="vFormato" minlength="1" maxlength="20">
                      </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

                

              <div div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" style="padding: 0px 0px 0px 0px;">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <div>
                    <mat-checkbox *ngIf="getControlLabel('vTipoRespuesta') === '00002'" [checked]="examen.nIncluirExtremos === 1" (change)="actualizaCheckbox(1,$event.checked)">Incluye extremos</mat-checkbox>
                    <mat-checkbox [checked]="examen.nInvertirColores === 1" (change)="actualizaCheckbox(2,$event.checked)">Colores alternos</mat-checkbox>
                    <mat-checkbox [checked]="examen.nIncluirMensaje === 1" (change)="actualizaCheckbox(3,$event.checked)">Incluye mensaje</mat-checkbox>
                  </div>  
                </mat-grid-list>                              

                <div *ngIf="['00002','00003'].includes(getControlLabel('vTipoRespuesta'))" class="example-container mat-elevation-z0" style="margin-left:-14px">
                  
                  <table class="table-equiv table" id="tabla-rango">
                    <thead>
                      <tr>
                        <th *ngIf="getControlLabel('vTipoRespuesta') === '00002'" style="padding: 0; width: 100px; border: 0"></th>
                        <th *ngFor="let eTitulo of selEquivRpta" style="padding: 0; width: 100px; max-height: 0;">
                          <div *ngIf="examen.nInvertirColores === 0" style="background-color: {{eTitulo.vAux3}}; height: 100%;">
                            <span style="vertical-align: -webkit-baseline-middle;">{{eTitulo.vDescripcion}}</span>
                          </div>
                          <div *ngIf="examen.nInvertirColores === 1" style="background-color: {{eTitulo.vAux4}}; height: 100%;">
                            <span style="vertical-align: -webkit-baseline-middle;">{{eTitulo.vDescripcion}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="getControlLabel('vTipoRespuesta') === '00002'">
                      <tr *ngFor="let eRango of examen.listaEquivalencias">
                        <td class="table-criterio">
                          <div id="rangoCriterio" *ngIf="eRango.edicion" style="display: flex;">
                            <mat-form-field class="table-input" appearance="outline">
                              <input name="nResuMin" matInput placeholder="Desde" type="number" class="example-right-align"
                              oninput="if(this.value.length>=3) { this.value = this.value.slice(0,3); }"
                              onkeypress="if(this.value == 0) {this.value = this.value.slice(1,this.value.lenght-1)} return /[0-9]/i.test(event.key)"
                              [value]="eRango.nResuNumMin"
                              (input)="eRango.nResuNumMin = $any($event.target).value"
                              [readonly]="examen.listaEquivalencias!.length > 1"
                              (keyup.enter)="agregarFila()">
                            </mat-form-field>  
                            <!--span> - </span-->
                            <mat-form-field class="table-input" appearance="outline">
                              <input id="lastRowAge" name="nResuMax" matInput placeholder="Hasta" type="number" class="example-right-align"
                              oninput="if(this.value.length>=3) { this.value = this.value.slice(0,3); }"
                              onkeypress="if(this.value == 0) {this.value = this.value.slice(1,this.value.lenght-1)} return /[0-9]/i.test(event.key)"
                              [value]="eRango.nResuNumMax"
                              (input)="eRango.nResuNumMax = $any($event.target).value"
                              (keyup.enter)="agregarFila()">
                            </mat-form-field>
                          </div>
                          <div *ngIf="!eRango.edicion">
                            <span>{{eRango.nResuNumMin}} a {{eRango.nResuNumMax}}</span>
                          </div>                          
                        </td>
                        <td *ngFor="let eTitulo of selEquivRpta" style="max-width: 100px;">
                          <div *ngIf="eRango.edicion" style="display: flex;">
                            <mat-form-field class="table-input" appearance="outline">
                              <input name="nMinVal" matInput placeholder="Mín." type="number" class="example-right-align"
                              oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }"
                              onkeypress="return /[0-9|.]/i.test(event.key)"
                              [value]="eRango.vacio ? '' : obtieneResultado(eTitulo.vValor, eRango.listaRangos)!.nMinVal"                              
                              (input)="obtieneResultado(eTitulo.vValor, eRango.listaRangos)!.nMinVal = $any($event.target).value"
                              (change)="actualizaVecino(eTitulo.vValor, eRango.listaRangos, 'min', $event.target)"
                              (keyup.enter)="agregarFila()">
                            </mat-form-field>
                            <mat-form-field class="table-input" appearance="outline">
                              <input name="nMaxVal" matInput placeholder="Máx." type="number" class="example-right-align"
                              oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }"
                              onkeypress="return /[0-9|.]/i.test(event.key)"
                              [value]="eRango.vacio ? '' : obtieneResultado(eTitulo.vValor, eRango.listaRangos)!.nMaxVal"
                              (input)="obtieneResultado(eTitulo.vValor, eRango.listaRangos)!.nMaxVal = $any($event.target).value"
                              (change)="actualizaVecino(eTitulo.vValor, eRango.listaRangos, 'max', $event.target)"
                              (keyup.enter)="agregarFila()">
                            </mat-form-field>
                          </div>
                          <div *ngIf="!eRango.edicion">
                            <span>
                              {{obtieneLimites(eTitulo.vValor, eRango.listaRangos)}}
                            </span>
                          </div>                          
                        </td>
                        <td *ngIf="examen.nIncluirMensaje === 1">
                          <input matInput placeholder="Mensaje opcional" type="text" [value]="eRango.vMensaje">
                        </td>
                      </tr>                          
                    </tbody>
                    <tbody *ngIf="getControlLabel('vTipoRespuesta') === '00003'">
                      <tr *ngFor="let eRango of examen.listaEquivalencias">
                        <section *ngFor="let basket of baskets">

                          <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of basket.fruits"
                                       [removable]="true" (removed)="remove(basket, fruit)">
                                {{fruit}}
                                <mat-icon matChipRemove >cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="New fruit..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     
                                     (matChipInputTokenEnd)="add(basket, $event)">
                            </mat-chip-list>
                          </mat-form-field>
                          
                          </section>
                        <td *ngIf="examen.nIncluirMensaje === 1">
                          <input matInput placeholder="Mensaje opcional" type="text" [value]="eRango.vMensaje">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="getControlLabel('vTipoRespuesta') === '00002'" class="form-group">
                    <button type="button" class="btn btn-primary mr-2" (click)="agregarFila()">Agregar Fila</button>
                    <button *ngIf="examen.listaEquivalencias!.length > 0" type="button" class="btn btn-danger" (click)="eliminarFila()">Eliminar Fila</button>
                  </div>
                </div>
              </div>

              
            </div>
          </div>

        </mat-step>
      </mat-stepper>
      
    </form>
  </mat-dialog-content>
  
  <div class="btnModal" align="end">
    <button style="margin-right: 4px;" mat-stroked-button class="btnRed" (click)="closeModal()"><mat-icon>close</mat-icon>Cerrar</button> 
    <button *ngIf="edit" style="margin-right: 4px;" mat-stroked-button class="btnYellow"(click)="limpiar()"><mat-icon>cleaning_services</mat-icon>Limpiar</button>
    <button *ngIf="edit" mat-stroked-button class="btnBlue" (click)="guardar()" [disabled]="frmGrupo.invalid"><mat-icon>save</mat-icon>Guardar</button>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>