.input-rpta{
    resize: none;
}

.table-equiv {
    /* width: 100%; */
    background: white;
    margin-bottom: 1.25em;
    border-collapse: collapse;
    border-spacing: 0;
    /* margin: -8px -8px 3px -8px; */
    margin: -8px -21px 0 -9px;
  }
  
  table tr th,
  table tr td {
    height: 30px;
    padding: 0.2625em 0.325em;
    font-size: 0.875em;
    color: #c13c04;
  }

  .table-equiv tr th,
  .table-equiv tr td {
    font-size: 0.875em;
    color: #03193f;
    border: 0.05px solid #dddddd;
  }
  
  table tr.even,
  table tr.alt,
  table tr:nth-of-type(even) {
    background: #f9f9f9;
  }

  .table-input{
    margin-top: -1.15em;
    margin-bottom: -1.25em;
    font-size: 12px;
    width: 50%;
  }

  .table-equiv:mat-form-field-infix{
    border: 0
  }

  .table-criterio{
    text-align: center;
    max-width: 30px;
  }

  .table-input .mat-form-field-wrapper{
    padding: 0;
  }
  
  .table-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    border: 0 !important;
    padding-bottom: 0.5em;
    padding-top: 0.75em;
    padding-inline: 0;
  }
  